extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
            a(href='/blockchain') Go to my account
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-sm-2
      .col-sm-8
        .panel
          .panel-body
            h1 Make transaction
          .panel-body
            form.form-horizontal(action='/transaction', method='POST')
              .form-group
                label.col-sm-2(for='to_id') Id
                .col-sm-8
                  input.form-control(type='text', name='to_id', id='to_id', autofocus=true)
              .form-group
                label.col-sm-2(for='amount') Amount
                .col-sm-8
                  input.form-control(name='amount', id='amount')
              .form-group
                .col-sm-offset-2.col-sm-8
                  button.btn.btn-success(type='submit') Make transaction
